<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.me.expensetrackerme"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".TestActivity"
                  android:label="@string/app_name">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".MainActivity" android:label="Expense Tracking">            
        </activity>
        <activity android:name=".ExpenseCategoriesActivity" android:label="Expense Categories">
        </activity>
        <activity android:name=".CreditCardsActivity" android:label="Credit Cards">
        </activity>
        <activity android:name=".BankAccountsActivity" android:label="Bank Accounts">
        </activity>
        <activity android:name=".ExpenseTypesActivity" android:label="Expense Types">
        </activity>
        <activity android:name=".NewCategoryActivity" android:label="New Category">
        </activity>
        <activity android:name=".NewExpenseTypeActivity" android:label="New Expense Type" android:noHistory="true">
        </activity>
        <activity android:name=".NewCreditCardActivity" android:label="New Credit Card" android:noHistory="true">
        </activity>
        <activity android:name=".NewBankAccountActivity" android:label="New Bank Account" android:noHistory="true">
        </activity>
        <activity android:name=".PayeesActivity" android:label="Payees">
        </activity>
        <activity android:name=".NewPayeeActivity" android:label="New Payee" android:noHistory="true">
        </activity>
        <activity android:name=".ExpenseGroupsActivity" android:label="Expense Groups">
        </activity>
        <activity android:name=".NewExpenseGroupActivity" android:label="New Expense Group" android:noHistory="true">
        </activity>
        <activity android:name=".ExpensesActivity" android:label="Expenses">
        </activity>
        <activity android:name=".NewExpenseActivity" android:label="New Expense">
        </activity>
        <activity android:name=".SelectCreditCardActivity" android:label="Select Credit Card" android:noHistory="true">
        </activity>
        <activity android:name=".SelectBankAccountActivity" android:label="Select Bank Account" android:noHistory="true">
        </activity>
        <activity android:name=".SelectCheckActivity" android:label="Enter Check Info" android:noHistory="true">
        </activity>
        <activity android:name=".SelectExpenseTypeActivity" android:label="Select Expense Type" android:noHistory="true">
        </activity>
        <activity android:name=".PhotoActivity" 
            android:label="Take Photo"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
        </activity>
        <activity android:name=".LoginActivity" android:label="Login" android:noHistory="true">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginFailureActivity" android:label="Login Failure" 
        		android:noHistory="true">        	
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />	

</manifest> 